@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --color-blue-dark: #072756;
  --color-blue-hover: #1856B2;
  --color-blue: #226EE0;
  --color-light-blue: #D9E8FF;
  --color-body: #EBF3FF;
  --color-white: #FFFFFF;
  --color-violet: #B9AFE9;
  --color-violet-blue: #5E81FC;
  --color-violet-light: #CED8FB;
  --color-orange: #FFA462;
  --color-orange-light: #FCDFC9;
  --color-coral: #FF8D74;
  --color-coral-light: #FBD2C9;
  --color-red-dark: #BD1735;
  --color-red: #F22F52;
  --color-black: #0B0B0C;
  --color-dark-extra: #292E36;
  --color-dark: #404651;
  --color-semidark: #8A929C;
  --color-grey: #C5CAD1;
  --color-grey-extra-light: #F2F4F7;
  --color-text: #4B5462;
  --ff: "Inter", sans-serif;
  --ff2: "Raleway", sans-serif;
  --fs: 16px;
  --container: 1200px;
  --gap: 32px;
  --gap-sm: 16px;
}

/* === Reset === */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  background: var(--color-body);
  margin: 0;
  color: var(--color-text);
  font-family: var(--ff);
  font-size: var(--fs);
  font-weight: 400;
  line-height: 20px;
}

main {
  display: block;
}

img {
  border: 0;
  max-width: 100%;
}

p {
  margin: 0 0 20px;
}
p:last-child {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a, input, textarea {
  outline: none;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

th {
  font-weight: normal;
  text-align: left;
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  overflow: auto;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clear {
  clear: both;
  display: block;
}

/* grid */
.container {
  max-width: var(--container);
  margin: 0 auto;
  width: 100%;
}

.grid {
  display: grid;
  grid-column-gap: var(--gap);
  grid-row-gap: var(--gap-sm);
  grid-template-columns: repeat(3, 1fr);
}
.grid-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

/* pagetitle */
.pagetitle {
  text-align: center;
  margin: 0 0 96px;
}
.pagetitle-head {
  color: var(--color-dark-extra);
  font-family: var(--ff2);
  font-size: 64px;
  line-height: 70px;
  font-weight: 700;
  margin: 0 0 32px;
}
.pagetitle-head span {
  color: var(--color-violet-blue);
}
.pagetitle-head:last-child {
  margin: 0;
}
.pagetitle-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

/* questionbox */
.questionbox {
  background: linear-gradient(90deg, #226EE0 0%, #7B61FF 100%);
  border-radius: 24px;
  color: var(--color-white);
  margin: 0 0 240px;
  padding: 48px 64px;
}
.questionbox-title {
  font-size: 48px;
  font-family: var(--ff2);
  font-weight: 700;
  line-height: 53px;
  margin: 0 0 var(--gap-sm);
}
.questionbox-details {
  align-items: flex-end;
  display: flex;
}
.questionbox-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  margin: 0 64px 0 0;
}

/* service_card */
.service_card {
  background: #F7FAFF;
  border-radius: 24px;
  padding: 48px 40px;
}
.service_card .pagetitle-head {
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 var(--gap-sm);
}