@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


:root {
	--color-blue-dark: #072756;
	--color-blue-hover: #1856B2;
	--color-blue: #226EE0;
	--color-light-blue: #D9E8FF;
	--color-white: #FFFFFF;
	--color-violet: #B9AFE9;
	--color-violet-blue: #5E81FC;
	--color-violet-light: #CED8FB;
	--color-orange: #FFA462;
	--color-orange-light: #FCDFC9;
	--color-coral: #FF8D74;
	--color-coral-light: #FBD2C9;
	--color-red-dark: #BD1735;
	--color-red: #F22F52;
	--color-black: #0B0B0C;
	--color-dark-extra: #292E36;
	--color-dark: #404651;
	--color-semidark: #8A929C;
	--color-grey: #C5CAD1;
	--color-grey-extra-light: #F2F4F7;
	--color-text: #4B5462;
	--ff: 'Inter', sans-serif;
	--ff2: 'Raleway', sans-serif;
	--container: 1200px;
}


/* === Reset === */
* {box-sizing: border-box;}
html, body {height: 100%; min-height: 100%; margin: 0;}
body {
	margin: 0;
	color: var(--color-text);
	font-family: var(--ff);
}
main {display: block;}
img {border: 0; max-width: 100%;}
p {margin: 0 0 20px; &:last-child {margin: 0;} }
ul, ol {padding: 0; margin: 0;}
li {list-style: none;}
a, input, textarea {outline: none;}
a {color: blue;}
a:hover {text-decoration: none;}
th {font-weight: normal; text-align: left;}
fieldset {padding: 0; border: 0; margin: 0;}
blockquote {margin: 0; padding: 0;}
textarea {resize: none; overflow: auto;}
input::-moz-focus-inner {border: 0; padding: 0;}
.clear {clear: both; display: block;}


/* grid */
.grid {
	display: grid;
}


/* pagetitle */
.pagetitle {
	text-align: center;
	margin: 0 0 96px;
	&-head {
		color: var(--color-dark-extra);
		font-family: var(--ff2);
		font-size: 64px;
		font-weight: 700;
		margin: 0 0 32px;
		span { color: var(--color-violet-blue); }
		&:last-child { margin: 0; }
	}
	&-text {
		font-size: 20px;
		font-weight: 500;
		line-height: 25px;
	}
}





